<!DOCTYPE html>

<head>
    <title>Login</title>
   
</head>
<script src="~/Scripts/Login.js" type="text/javascript"></script>
<body>
    <div class="container" onsubmit="login()">

        <form class="login-form border" id="myForm">
            <h1 style="text-align: center; font-family: 'Noto Sans'; color: rgb(24, 78, 165);">Login</h1>

            <div class="mb-4">
                <label class="form-label" for="Name">Username</label>
                <input type="text" id="username" name="txt_username">
            </div>

            <div class="mb-4">
                <label class="form-label" for="Email">Password</label>
                <input type="password" id="password" name="txt_password">
            </div>

            <div class="mb-4 buttonclass">
                <input type="submit" value="Login" />
            </div>
            <div class="mb-4">
                <div class="mb-4 buttonclass">
                    <span style="font-family:'Noto Sans'">New User?</span>
                    <a style="font-family:'Noto Sans'; text-decoration:none" href="/Account/Register">Register</a>
                </div>
            </div>
        </form>
    </div>
</body>


