<!DOCTYPE html>

<head>
    <title>Register</title>

</head>
<script src="~/Scripts/Register.js" type="text/javascript"></script>
<body>
    <div class="container" onsubmit="register()">

        <form class="registration-form" id="myForm">
            <h1 style="text-align: center; font-family: 'Noto Sans'; color: rgb(24, 78, 165);">Register</h1>

            <div class="mb-4">
                <label class="form-label" for="Username">Username</label>
                <input type="text" id="username" name="txt_username">
            </div>

            <div class="mb-4">
                <label class="form-label" for="Email">Email</label>
                <input type="email" id="email" name="txt_email">
            </div>

            <div class="mb-4">
                <label class="form-label" for="Password">Password</label>
                <input type="password" id="password" name="txt_password">
            </div>

            <div class="mb-4 buttonclass">
                <input type="submit" value="Register" />
            </div>
        </form>
    </div>
</body>