<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/index.css">
    <script src="~/Scripts/index.js" type="text/javascript"></script>
    <!-- Change the title and add your name -->
    <title>Student Profile</title>

</head>

<body onload="loadDetails()">
        

    <div class="container">
        <h1 id="names"></h1>
        <!-- Fill out all profile properties accordingly -->
        <div class="profile">

            <div class="profile-property">
                <div class="property-name">First Name</div>
                <div class="property-value" id="fname"></div>
            </div>

            <div class="profile-property">
                <div class="property-name">Last Name</div>
                <div class="property-value" id="lname"></div>
            </div>

            <div class="profile-property">
                <div class="property-name">NID</div>
                <div class="property-value" id="nid"></div>
            </div>

            <div class="profile-property">
                <div class="property-name">Date Of Birth</div>
                <div class="property-value" id="dob"></div>
            </div>

            <div class="profile-property">
                <div class="property-name">Email Address</div>
                <div class="property-value" id="emailaddress"></div>
            </div>

            <div class="profile-property">
                <div class="property-name">Phone Number</div>
                <div class="property-value" id="phonenum"></div>
            </div>

            <div class="profile-property">
                <div class="property-name">Guardian Name</div>
                <div class="property-value" id="guardianname"></div>
            </div>

            <div>
                <div class="profile-property">
                    <div class="property-name">Subject Name</div>
                    <div class="property-value"></div>
                </div>
            </div>

            @*<div class="profile-property">
                <div class="property-name">Subject Name</div>
                <div class="property-value">Grade</div>
            </div>

            <div class="profile-property">
                <div class="property-name">Subject Name</div>
                <div class="property-value">Grade</div>
            </div>*@

            <div style="text-align:right">
                <button><img src="https://i.pinimg.com/564x/fe/df/91/fedf910a5a393a12a90350979d4e5057.jpg" width="20" height="20" /></button>
            </div>
        </div>

    </div>

</body>

</html>

